.d-one-two-three {
	width: 100%;
}
.d-one-two {
	width: 100%;
}

@media only screen and (min-width : 768px) {
	.d-one-two-three {
		width: 50%;
	}
	.d-one-two {
		width: 50%;
	}
}

@media only screen and (min-width : 1024px) {
	.d-one-two-three {
		width: 33.33333333%;
	}
}